body {
    background-image: url('../assets/Background.png');
    width: 100%;
    height: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Roboto;
    background-color: #F7FEFF;
}

/*AccountCreation.jsx*/
#admin-cr-container {
    max-width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#admin-cr-body {
    width: 100%;
    height: auto;
    margin-top: -50px;
    margin: 0 auto;
    align-items: center;
    position: relative;
    padding-bottom: 20vh;
}

#admin-cr-form {
    float: none;
    margin: 0 auto;
}

/*AccountForm*/

.content-btn {
    padding-top: 5%;
    padding-left: 55%;
    margin-bottom: 5%;
    margin: 0 auto;
    margin-right: 5%;
    width: 100%;
}

.btnSubmit:hover {
    color: white;
}

.btnClear:hover {
    color: white;
}

.btnSubmit {
    background-color: #1FB4CA;
    color: white;
}

.btnClear {
    background-color: #ED5C5F;
    color: white;
}

@media screen and (max-width: 750px) {
    /*AccountCreation.jsx*/
    #admin-cr-container {
        max-width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        /* background-color: #1FB4CA; */
    }
    
    #admin-cr-body {
        width: 100%;
        height: auto;
        margin: 0 auto;
        align-items: center;
        position: relative;
        padding-bottom: 20vh;
        background-image: url('../assets/Background.png');
        background-position: center;
        background-repeat: no-repeat;
        /* background-color: #771fca; */
    }
    
    #admin-cr-form {
        float: none;
        margin: 0 auto;
    }

    /*AccountForm*/

    .content-btn {
        height: 150px;
        padding-top: 5%;
        padding-left: 40%;
        margin-bottom: 5%;
        margin: 0 auto;
        width: 100%;
    }

    #admin-cr-btn1 {
        clear:both;
        margin-bottom: 20px;
        margin-left: 115px;
    }

    .btnSubmit {
        float: left;
    }
    
    .btnClear {
        float: right;
    }
}

@media screen and (max-width: 550px) {
    /*AccountCreation.jsx*/
    #admin-cr-container {
        max-width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        /* background-color: #1FB4CA; */
    }
    
    #admin-cr-body {
        width: 100%;
        height: auto;
        margin: 0 auto;
        align-items: center;
        position: relative;
        padding-bottom: 20vh;
        background-image: url('../assets/Background.png');
        background-position: center;
        background-repeat: no-repeat;
        /* background-color: #771fca; */
    }
    
    #admin-cr-form {
        float: none;
        margin: 0 auto;
    }

    /*AccountForm*/

    .content-btn {
        height: 150px;
        padding-top: 5%;
        padding-left: 15%;
        margin-bottom: 5%;
        margin: 0 auto;
        width: 100%;
    }

    #admin-cr-btn1 {
        clear:both;
        margin-bottom: 20px;
        margin-left: 9%;
    }

    .btnSubmit {
        float: left;
    }
    
    .btnClear {
        float: right;
    }
} 