/*Create Question/Question Creation*/

.content-qnc {
    padding-top: 5%;
}

.form-qn {
    float: center;
    margin: 0 auto;
}

.content {
    margin: 0 auto;
    padding-top: 5%;
}

.content-pic {
    width: 80%;
    margin-left: 2%;
    margin-top: -5%;
}

.content-pic-2 {
    width: 80%;
    margin-left: 3.5%;
    margin-top: -5%;
}

.content-first {
    margin-left: 1%;
    /* background-color: #ED5C5F; */
    position: relative;
    /* padding-left: 5%; */
    margin-top: 5%;
    margin-bottom: 5%;
}

h6 {
    margin-left: 2%;
}

.content-second {
    margin-left: 1%;
    /* background-color: #ED5C5F; */
    position: relative;
    /* padding-left: 5%; */
}

.content-third {
    margin-top: 5%;
    position: relative;
    margin-left: 1%;
    /* padding-left: 4.5%; */
    /* background-color: #1FB4CA; */
}

.content-forth {
    margin-top: 5%;
    margin-left: 1%;
}

.content-btn {
    /* margin-left: 55%; */
    /* padding-bottom: 5%; */
    margin-top: -5%;
    margin-right: 2%;
    /* background-color: black; */
    /* width: 100%; */
}

.btnCreate {
    background-color: #1FB4CA;
    color: white;
    margin-left: 100%;
    margin-left: 55%;
    /* padding-bottom: 5%; */
}

.content-dropDown1 {
    margin-left: 2%;
    margin-top: -1.5%;
}

.content-dropDown2 {
    margin-left: 2%;
    margin-top: -1.5%;
}

.mb-3:hover {
    /* background-color: #1FB4CA; */
    color: white;
}

.containerBtn {
    padding-left: 40%;
    /* background-color: blue; */
}

/* body {
    overflow: scrollable;
} */

#body {
    padding:10px;
    padding-bottom: 20vh;   /* Height of the footer */
    margin-bottom: -5%;
 }