.header {
    position: absolute;
    width: 334px;
    height: 56px;
    left: 534px;
    top: 100px;
    
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 56px;
    text-align: center;
    
    color: #1FB4CA;

}

#body {
    padding:10px;
    padding-bottom: 20vh;   /* Height of the footer */
    margin-bottom: -5%;
 }

.content {
    margin-top: 5%;
}

.content-row1 {
    margin-left: 1%;
}

.content-dropDown {
    margin-left:5%;
}

p {
    margin-top: 1%;
}

.content-btn {
    margin-top: 5%;
    margin-left: 45%;
    margin-bottom: 5%;
    /* background-color: black; */
    margin-right: 5%;
    width: 100%;
}

.btnSubmit {
    background-color: #1FB4CA;
    color: white;
}

.mb-3:hover {
    /* background-color: #1FB4CA; */
    color: white;
}

.btnClear {
    background-color: #ED5C5F;
    color: white;
}

body {
    overflow: scrollable;
}