#body {
    padding:10px;
    padding-bottom: 20vh;   /* Height of the footer */
    height: 80%;
    background-color: #F7FEFF;
 }

 #container {
    min-height:100%;
    position: relative;
    /* background-color: aqua; */
    width: 100%;
    height: 100%;
 }
 
 #header {
    width: 100%;
    height: 20vh;
 }

 .header {
    margin-top: -5%;
 }

 .content {
     margin-bottom: 10%;
 }

 .top-content {
     height: 30%;
     width: 30%;
     margin: 0 auto;
 }

 .text {
     margin-bottom: 5%;
 }

 .card-content {
     margin-top: -5%;
     overflow:hidden;
 }

 .content-asgn {
     /* background-color: #57B0BD; */
     background-color: #F7FEFF;
 }

 .btn-asgn {
    background-color: #57B0BD;
    color: white;
 }

 .btn-asgn:hover {
    color: white;
    background-color: #09abc4;
 }

 /* .mr-1 {
     color: #F7FEFF;
 } */


.content-loading {
    position: absolute;
    width: 50%;
    height: 55vh;

    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50px;

    color: #000000;
    align-self: center;
}

.sr-only {
    padding-left: 5%;
}

.img-content {
    width: 30%;
    height: 30%;
    margin-bottom: 5%;
    margin-left: 35%;
}

.spinner {
    margin-left: 25%;
}

 /*PATIENT RESULTS*/
.body-text {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 42px;

    color: #000000;
    margin-top: 2%;
}